version: "3.1"

services: 
  purple_db:
    image: mysql:5.7
    volumes:
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    command: --init-file /docker-entrypoint-initdb.d/init.sql
    ports:
      - "3312:3306"
    environment:
      MYSQL_DATABASE: purple_db
      MYSQL_ROOT_USER: upurple
      MYSQL_USER: upurple
      MYSQL_ROOT_PASSWORD: purple8214
      MYSQL_PASSWORD: purple8214